body{
	margin: 0;
	padding: 8px;
	box-sizing: content-box;
}

.verde{
	height: 500px;
	width: 900px;
	background-color: #8CB27C;
	position: relative;
}

.blanco{
	height: 459px;
	width: 859px;
	border: 1px solid white;
	position: absolute;
	top: 20px;
	left: 20px;
	box-sizing: content-box;
}

.arco{
	height: 200px;
	width: 115px;
	border: 1px solid white;
	position: absolute;
}

.izquierdo{
	top: 125px;
	left: -1px;
}

.derecho{
	top: 125px;
	right: -1px;
}

.circulo{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 1px solid white;
	top: 130px;
	left: 330px;
	position: absolute;
}

.bola{
	position: absolute;
}


.uno{
	top: 128px;
	left: 103px;

}

.dos{
	top: 60px;
	left: 450px;
}

.tres{
	top: 300px;
	right: 120px;
}